/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(../public/hrisBG1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
